syntax: glob

## vim temporary files
.*.swp

INSTALL

## Distribution tarballs
fastx*.tar.gz

# .DS_Store
.DS_Store

# ignore any logs

/*/*.log

*.log

# ignore build/ directory

build/

# scripts directory
